pandas       >= 2.0
matplotlib   >= 3.7

torch        >= 2.0
torchvision  >= 0.15
torchaudio   >= 2.0

tensorflow   >= 2.12
scikit-learn >= 1.2

tqdm         >= 4.65
spacy        >= 3.5
nltk         >= 3.8

# notes :
# - tensorflow 2.12 will install numpy so we don't need to specify it here
